@font-face {
  src: url("../assets/fonts/Modern No. 20.ttf");
  font-family: "Modern";
}

@font-face {
  src: url("../assets/fonts/Glamor-Regular.ttf");
  font-family: "Glamor";
}

@font-face {
  src: url("../assets/fonts/AdallynDemo.otf");
  font-family: "Adallyn";
}
